{% extends "base.html" %}
{% block title %}
 Iniciar sesión
{% endblock %}
{% block content %}
<h1> Inicia Sesión </h1>
<br/><br/>

<div class="form-group">
    <form method="POST">
        {% csrf_token %} 
        <form>


        <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Nombre de Usuario">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Contraseña">
        </div>
    <small id="emailHelp" class="form-text text-muted">Aún no estás registrado? <a href="{% url "register"%}">Regístrate</a></small> 
</br>
        <button class="btn btn-primary">Iniciar Sesión</button>
</div>




 {% endblock %}